In [1]:
import pandas as pd

In [2]:
import xlsxwriter
import openpyxl
from openpyxl.styles import PatternFill
from openpyxl import Workbook
import openpyxl
from openpyxl.styles import Font

In [3]:
workbook = xlsxwriter.Workbook('otTraderPanel.xlsx')

In [4]:
worksheet1 = workbook.add_worksheet('Sheet 1')

In [5]:
worksheet2 = workbook.add_worksheet('Sheet 2')

In [6]:
# greenFill = PatternFill(start_color='00FF00',
#                    end_color='00FF00',
#                    fill_type='solid')

In [7]:
newExgen=[['A1', 'Customer terms'], ['A2', 'Name'],['B2', 'Report'],['C2', 'Cargo'],['D2', 'Contractual qty(MT)'],['E2', 'Tolerance +/-(%)'],['F2', 'Quantity option'],['G2', 'Stow factor(cbft/mt)'],['H2', 'Load port'],['I2', 'Load rate(MT/day)'],['J2', 'Load terms'],['K2', 'Load draft(m)'],['L2', 'No. of berths'],['M2', 'Use cranes load'],['N2', 'Discharge port'],['O2', 'Discharge rate(MT/day)'],['P2', 'Discharge terms'],['Q2', 'Discharge draft(m)'],['R2', 'No. of berths'],['S2', 'Use cranes disch'],['T2', 'Voyage sale addr comm(%)'],['U2', 'Voyage sale broker comm(%)'],['V2', 'Option part cargo'],['W1', 'Customer prices'],['W2', '01-11-2022'],['X2', '01-12-2022'],['Y2', '01-01-2023']]

In [8]:
for i in range(len(newExgen)):
    worksheet1.write(newExgen[i][0],newExgen[i][1])

In [9]:
newExgen1=[['A1', 'Base cargo no parcel option terms'], 
          ['A2', 'Base cargo name'],['B2', 'Base cargo concatenated terms'],['C2', 'Base cargo IMOS estimate'],['D1', 'Base cargo no parcel option prices'],['D2', '01-11-2022'],['E2', '01-12-2022'],['F2', '01-01-2023'],['G1', 'Base cargo parcel option discounts/prices'],['G2', '01-11-2022'],['H2', '01-12-2022'],['I2', '01-01-2023'],['J1', 'Top-off cargo economical stem no parcel option prices'],['J2', 'Top-off cargo IMOS estimate'],
          ['K2', '01-11-2022'],['L2', '01-12-2022'],
          ['M2', '01-01-2023'],
          ['N1', 'Top-off cargo w/parcel option discounts'],
          ['N2', '01-11-2022'],
          ['O2', '01-12-2022'],
          ['P2', '01-01-2023'],
          ['Q1', 'Parcel calc terms'],
          ['Q2', 'Parcel calc name'],
          ['R2', 'Parcel calc concatenated terms'],
          ['S2', 'Parcel calc IMOS estimate'],
          ['T1', 'Parcel calc P&L'],
          ['T2', '01-11-2022'],
          ['U2', '01-12-2022'],
          ['V2', '01-01-2023'],
          ['W1', 'Parcel calc INPUT P&L'], 
           ['W2', '01-10-2022'],
           ['X2', '01-11-2022'],['Y2', '01-01-2023'],
           ['Z1', 'Parcel calc top-off parcel option PnL equivalent discount'],
           ['Z2', '01-11-2022'], ['AA2', '01-12-2022'],['AB2', '01-01-2023']]

In [10]:
for i in range(len(newExgen1)):
    worksheet2.write(newExgen1[i][0],newExgen1[i][1])

In [12]:
workbook.close()

In [14]:
# df3 = pd.read_csv('pnl_op.csv')

In [15]:
# df3

,Unnamed: 0,Parcel calc name,Parcel calc IMOS estimate,Base cargo,Base cargo IMOS estimate,Top-off cargo IMOS estimate,Cargo,Intake_base,Duration,comm,...,01/01/2023_disc_top off,11/01/2022_top off price,12/01/2022_top off price,01/01/2023_top off price,11/01/2022,Customer price_11/01/2022,12/01/2022,Customer price_12/01/2022,01/01/2023,Customer price_01/01/2023
0,0,45k iron NP Qingdao + 30k SBM Santos Kohsichang,RGE2-08498,Iron ore,RGE2-08649,RGE2-08470,IRON ORE,41128,61.017,0,...,-4,45.46865,45.590418,44.22542,212888.424492,42.46865,264065.990881,42.590418,239117.76965,40.22542

In [16]:
# df3 = pd.read_csv('pnl_op.csv')

In [ ]:
# df1

In [10]:
# worksheet1.write('A1', 'Customer terms')
# worksheet1.write('A2', 'Name')
# worksheet1.write('B2', 'Report')
# worksheet1.write('C2', 'Cargo')
# worksheet1.write('D2', 'Contractual qty(MT)')
# worksheet1.write('E2', 'Tolerance +/-(%)')
# worksheet1.write('F2', 'Quantity option')
# worksheet1.write('G2', 'Stow factor(cbft/mt)')
# worksheet1.write('H2', 'Load port')
# worksheet1.write('I2', 'Load rate(MT/day)')
# worksheet1.write('J2', 'Load terms')
# worksheet1.write('K2', 'Load draft(m)')
# worksheet1.write('L2', 'No. of berths')
# worksheet1.write('M2', 'Use cranes load')
# worksheet1.write('N2', 'Discharge port')
# worksheet1.write('O2', 'Discharge rate(MT/day)')
# worksheet1.write('P2', 'Discharge terms')
# worksheet1.write('Q2', 'Discharge draft(m)')
# worksheet1.write('R2', 'No. of berths')
# worksheet1.write('S2', 'Use cranes disch')
# worksheet1.write('T2', 'Voyage sale addr comm(%)')
# worksheet1.write('U2', 'Voyage sale broker comm(%)')
# worksheet1.write('V2', 'Option part cargo')

In [ ]:
# df1 = pd.read_excel('otTraderPanel.xlsx')

In [15]:
# worksheet2.write('A1', 'Base cargo no parcel option terms')
# worksheet2.write('A2', 'Base cargo name')
# worksheet2.write('B2', 'Base cargo concatenated terms')
# worksheet2.write('C2', 'Base cargo IMOS estimate')
# worksheet2.write('D1', 'Base cargo no parcel option prices')
# worksheet2.write('D2', '01-11-2022')
# worksheet2.write('E2', '01-12-2022')
# worksheet2.write('F2', '01-01-2023')
# worksheet2.write('G1', 'Base cargo parcel option discounts/prices')
# worksheet2.write('G2', '01-11-2022')
# worksheet2.write('H2', '01-12-2022')
# worksheet2.write('I2', '01-01-2023')
# worksheet2.write('J1', 'Top-off cargo economical stem no parcel option prices')
# worksheet2.write('J2', 'Top-off cargo IMOS estimate')
# worksheet2.write('K2', '01-11-2022')
# worksheet2.write('L2', '01-12-2022')
# worksheet2.write('M2', '01-01-2023')
# worksheet2.write('N1', 'Top-off cargo w/parcel option discounts')
# worksheet2.write('N2', '01-11-2022')
# worksheet2.write('O2', '01-12-2022')
# worksheet2.write('P2', '01-01-2023')
# worksheet2.write('Q1', 'Parcel calc terms')
# worksheet2.write('Q2', 'Parcel calc name')
# worksheet2.write('R2', 'Parcel calc concatenated terms')
# worksheet2.write('S2', 'Parcel calc IMOS estimate')
# worksheet2.write('T1', 'Parcel calc P&L')
# worksheet2.write('T2', '01-11-2022')
# worksheet2.write('U2', '01-12-2022')
# worksheet2.write('V2', '01-01-2023')
# worksheet2.write('W1', 'Parcel calc INPUT P&L')
# worksheet2.write('W2', '01-10-2022')
# worksheet2.write('X2', '01-11-2022')
# worksheet2.write('Y2', '01-01-2023')
# worksheet2.write('W1', 'Parcel calc top-off parcel option PnL equivalent discount')
# worksheet2.write('Z2', '01-11-2022')
# worksheet2.write('AA2', '01-12-2022')
# worksheet2.write('AB2', '01-01-2023')

In [11]:
# worksheet1.write('W1', 'Customer prices')
# worksheet1.write('W2', '01-11-2022')
# worksheet1.write('X2', '01-12-2022')
# worksheet1.write('Y2', '01-01-2023')